<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
</head>
<body>
    <div>
        <h1><%= article.title %></h1>
        <p><%= article.description %></p>
        <h2><%= article.author %></h2>
        <p>Likes - <%= article.likes %></p>
        <div>
            <button><a href="/articles/<%= article.slug %>/like">Like</a></button>
            <button><a href="/articles/<%= article.slug %>/dislike">Dislike</a></button>
        </div>
        <form action="/articles/<%= article.id %>/comment" method="post">
        <textarea name="comment" id="comment" cols="30" rows="10">

        </textarea>
        <button type="submit">Add Comment</button>
        </form>
        <% if(article.comments.length){ %>
            comments.forEach(comment => {
                <p><%= comment.comment %></p>
                <button><a href="">Edit</a></button>
                <button><a href="">Delete</a></button>
            })
        <% } %>
    </div>
</body>
</html>